.git

framework/target/**
framework/framework.iml
framework/.git
framework/.idea

framework_consumer/target/**
framework_consumer/framework_consumer.iml
framework_consumer/.git
framework_consumer/.idea

framework_provider/target/**
framework_provider/framework_provider.iml
framework_provider/.git
framework_provider/.idea